header {
    background-color: black;
    width: 101%;
    margin: -60px 0px 0px 0px;
    position: fixed;
    
}


header ul {
    list-style: none;
    
}
header ul li {
    display: inline-block;
    padding: 5px 3%;
    transition: all 0.3s;
    

 
    
}
header ul li:hover {
    box-shadow: -5px -1px 0px rgb(211, 197, 85);
    
}
header ul li a {
    text-decoration: none;
    color: rgb(134, 107, 0);
    font-family: 'Courier New', Courier, monospace;
}

section {
    
    margin-top: 60px;
}



img {
    width: 100%;
    
    z-index: -5;
    position: absolute;
    
}
.img2 {
    width:64%;
    margin:6% 26%;
    opacity:50%;

}

button {
    position:absolute;
    margin: 20% 46%;
    
    background: none;
    border-style: none;
    z-index: -1;
    
    
}
.btn-switch {
    margin-left: -5px;
    border-radius: 5px;
    width:150%;
    opacity: 70%;
    
}
.btn-switch:hover {
    box-shadow: 0px 0px 1px white;
    opacity: 100%;
}
.btn1 {
    position: absolute;
    width: 5%;
    height:20%;
    
    margin:19% 10%;
    filter:opacity(0%);
    border-style:none;
}
.the-light {
    width:5%;
    margin: 18% 10%;
    position: absolute;
    z-index: -5;
    filter:opacity(50%);
}

.light-brightness {
    width:30%;
    margin: 18% -2.28%;
    filter:opacity(50%);
    
}







.ground {
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    width: 100%;
    height: 1800px;
    z-index: -6;
    margin-top: 40%;
    
}
  
p {
    color: #15a09b;
    margin-top: 40px;
    padding: 5%;
}
  
.phara1 {
    background-color: rgb(0, 0, 0);
    width: 30%;
    margin-left: 35%;
    margin-top: 20%;
    text-align: justify;
    line-height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h3 {
    color:rgb(136, 136, 136);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}











footer {
    width: 100%;
    height: 520px;
    background-color: rgb(42, 42, 42);
    position: absolute;
    margin-top: 1890px;
    z-index: -5;
    opacity: 100%;
    
    
}


